nav {
  background-color: #eaae00;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0; /* Asegura que esté en la parte superior */
  left: 0; /* Asegura que esté alineado a la izquierda */
  z-index: 1000; /* Mantiene el header por encima de otros elementos */
  overflow: hidden; /* Evita que el contenido sobresalga */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

.logo-company {
  height: 50px;
  width: 210px;
  flex-shrink: 0; /* Evita que se comprima */
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
}

.menu-item {
  color: #fefaf5;
  text-decoration: none;
  margin-right: 50px;
  font-size: 25px;
  white-space: nowrap; /* Evita que el texto se envuelva */
}

.menu-item:hover {
  font-size: 29px;
  transition: 0.5s;
}

input.input-menu {
  height: 30px;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #ffc400;
  border: none;
  color: #ffffff;
  font-size: 19px;
  box-shadow: 30px 30px 190px -1px #000000;
  flex-shrink: 0; /* Evita que se comprima */
}

input.input-menu::placeholder {
  color: #fff;
  font-size: 19px;
}

input.input-menu:focus {
  outline: none; /* quita el borde cuando hay un focus */
}

.button-menu {
  background-color: #00bfcc;
  height: 45px;
  width: 50px;
  border: none;
  box-shadow: 10px -20px 180px -10px #000;
  margin-right: 10px;
  flex-shrink: 0; /* Evita que se comprima */
}

.lupa-button {
  height: 25px;
  width: 25px;
  margin-left: 13px;
  margin-top: 10px;
}

/* celulares */
@media (max-width: 700px) {
  nav {
    background-color: #eaae00;
    height: 60px;
    padding: 0 10px; /* Añade padding para móviles */
  }

  .menu {
    display: none;
  }
}

/* tablet */
@media (min-width: 700px) and (max-width: 1000px) {
  nav {
    padding: 0 20px; /* Añade padding para tablets */
  }
  
  .logo-company {
    display: none;
  }

  .menu-item {
    font-size: 20px;
    margin-right: 30px; /* Reduce el margen en tablets */
  }
}